* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #242424;
  font-family: "Montserrat", sans-serif;
}
.bg-deepBlue{
  background:#022873 !important;
}

a {
  text-decoration: none !important;
}

.success {
  color: #127D10;
  font-weight: 400;
}

.danger {
  color: #CE0000;
  font-weight: 400;
}

.dangerStatus {
  background-color: rgba(206, 0, 0, 0.1098039216);
  border-radius: 10px;
}
.dangerStatus p {
  color: #CE0000 !important;
}

.successStatus {
  background-color: rgba(18, 125, 16, 0.2196078431);
  border-radius: 10px;
}
.successStatus p {
  color: #127D10 !important;
}

.pendingStatus {
  background-color: rgba(242, 135, 5, 0.062745098);
  border-radius: 10px;
}
.pendingStatus p {
  color: #F28705 !important;
}

p {
  font-size: 15px;
}

.container {
  width: 100% !important;
  overflow-x: hidden !important;
}

.input {
  background: none !important;
  border-radius: 15px !important;
}

body {
  background-color: #EFEFEF !important;
}

body::-webkit-scrollbar {
  display: none;
}

.navbar {
  background-color: #fff;
}
.applyStepper{
  background:#EFEFEF !important;
}
.btn {
  background-color: #F28705 !important;
  border-radius: 15px !important;
  color: #fff !important;
  font-weight: 400 !important;
  font-size: 20px !important;
  font-weight: 300 !important;
}
.btn-delete{
  background-color: #fff !important;
  border:none;
  border-radius: 12px !important;
  color: #022873 !important;
  font-weight: 400 !important;
  font-size: 20px !important;
  font-weight: 300 !important;
}
.btn-secondary {
  background-color: #fff !important;
  border-radius: 10px;
  color: #F28705 !important;
  border: 1px solid #F28705 !important;
  font-weight: 400 !important;
}

.btn-outline-success, .searchBar {
  background-color: #fff !important;
  border-top-left-radius:10px;
  border-bottom-left-radius:10px;
  /* border-radius: 10px; */
  color: #F28705 !important;
  border: 1px solid rgba(102, 99, 99, 0.1098039216) !important;
  font-weight: 400 !important;
}

.btn-outline-success, .btn-outline {
  border-bottom-left-radius: 0px !important;
  border-top-left-radius: 0px !important;
}

.btn-outline {
  background: none !important;
  border: 1px solid rgba(102, 99, 99, 0.1882352941) !important;
}

.searchBar {
  border-top-right-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
}

.heroSection {
  background-image: url(../../public/Images/bg.png);
  background-position: right;
  background-repeat: no-repeat;
  background-size: contain;
}
.heroSection .heroText {
  font-size: 50px;
  color: #022873;
  font-weight: bold;
}
.heroSection .highlight {
  color: #F28705;
}
.heroSection .semiTag {
  font-size: 28px;
  color: #022873;
  font-weight: 400;
}
.heroSection .heroNote {
  color: #022873;
  font-size: 16px;
}

.factTitle {
  font-size: 60px;
  color: #F28705;
  font-weight: bold;
}

.factMeaning {
  color: #022873 !important;
}

.label {
  font-size: 15px;
  color: #022873 !important;
}

.nav-link {
  width: 79px;
  height: 79px;
  border-radius: 30px !important;
  background-color: #fff !important;
}
.nav-link i {
  font-size: 35px;
  color: #022873;
}

.nav-pills .nav-link.active {
  width: 79px;
  height: 79px;
  border-radius: 30px;
  background-color: #F28705 !important;
}
.nav-pills .nav-link.active i {
  font-size: 35px;
  color: #fff;
}
/* Tabs */
.tab-content .input {
  background: none !important;
  border-radius: 15px;
}
.applyStepper input, .applyStepper select {
  /* background:transparent; */
}

.applyStepper .input-group{
  width:150px;
}
.applyStepper .select-option{
  background-image: url("data:image/svg+xml,%3Csvg width='15' height='8' viewBox='0 0 15 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.50016 7.87498L0.208496 0.583313H14.7918L7.50016 7.87498Z' fill='black'/%3E%3C/svg%3E") no-repeat right;
}

.charges small{
  font-size:12px;
  color:#666363;
}
.charges h5{
  font-weight:600;
  font-size:15px !important;
}
.input-group-text{
  background:#fff;
  color:#F28705 !important;
}

.form-check-input:checked{
  background-color: #F28705 !important;
  border-color: #EBBA58 !important;
  color: #EBBA58 !important;
 }
  .form-check-input:checked ~ .custom-check-label::before {
    background-color: #F28705 !important;
    border-color: #EBBA58 !important;
    color: #EBBA58 !important;
 }

 .form-check .custom-radio {
  border-radius:15px;
    justify-content:center;
    border: 2px solid #F28705;
    cursor: pointer;
    background: transparent;
  }

.form-check .custom-radio:checked {
    border: none;
    background: #F28705;
    padding: 5px;
    opacity: 1;
    transform: scale(1);
  }
/* dropzone */
.dropzone {
  font-size:12px;
  font-weight:500;
  margin-bottom: 10px;
  padding:1px !important;
  border-radius: 15px;
  width: 100px;
  min-height: 50px !important;
  border: none !important;
  background: transparent;
  /* position: relative; */
  display: inline-block;
}
.dropzone .dz-message {
  text-align: center;
  margin: 0;
}
.dropzone.dropzone-area .dz-message img{
  padding:10px;
  background-color:#fff;
  border-radius:10px;
  width:50px;
  height:auto;
  margin-bottom:5px;
}

.amountSection{
  margin-top:80px;
}

.table {
  background-color: #fff;
  border-radius: 15px;
}

.conTitle {
  font-size: 32px;
  color: #022873;
  font-weight: 300;
}

.conTitle span {
  color: #F28705;
  font-weight: 600;
}

.text-muted {
  font-size: 12px;
}

.confirmTitle {
  font-size: 40px;
  font-weight: 600;
  color: #F28705;
}

.about {
  font-size: 20px;
  color: #022873;
}

.profilePicture {
  width: 45px;
  height: 45px;
  border-radius: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.profileEdit {
  position: relative;
}

.cam {
  position: absolute;
  bottom: 0;
  right: 0;
}

.ProfilePic {
  width: 100px;
  height: 100px;
  border-radius: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.name h6 {
  font-weight: 400;
  font-size: 15px;
}

.salute h3 {
  font-size: 32px;
  font-weight: 400;
  color: #666363;
}

.add {
  color: #fff;
}

#myChart {
  background-color: #fff;
  border-radius: 15px;
  padding: 2rem;
}

.menu {
  background-color: #fff;
  border-radius: 15px;
}

.menuTitle {
  color: #022873;
}

.modal-header {
  position: relative;
}
.modal-header .close {
  position: absolute;
  right: 0;
}

.mainProfileCard {
  background-color: #fff;
  border-radius: 15px;
}
.mainProfileCard .status {
  background-color: rgba(18, 125, 16, 0.1921568627);
  border-radius: 10px;
  color: #127D10;
}
.mainProfileCard .btndanger {
  background: none !important;
  color: #CE0000 !important;
  border: 2px solid #CE0000;
  border-radius: 10px !important;
}

.imageContainer {
  width: 55px;
  height: 55px;
  border-radius: 15px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.tTitle {
  font-size: 12px !important;
}

.summary {
  background-color: #fff !important;
  border-radius: 15px;
}
.summary .priceTotal {
  color: #F28705;
  font-weight: 400;
}

@media screen and (max-width: 1024px) {
  .heroSection {
    background: none !important;
  }
}
@media screen and (max-width: 428px) {
  .nav-link {
    width: 50px;
    height: 50px;
    border-radius: 15px !important;
    background-color: #fff !important;
  }
  .nav-link i {
    font-size: 20px;
    color: #022873;
  }
  .nav-pills .nav-link.active {
    width: 50px;
    height: 50px;
    border-radius: 15px;
    background-color: #F28705 !important;
  }
  .nav-pills .nav-link.active i {
    font-size: 20px;
    color: #fff;
  }
}/*# sourceMappingURL=index.css.map */